spring:
  datasource:
    driver-class-name: org.sqlite.JDBC
    url: jdbc:sqlite:target/test.db
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql
